.header {
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 2vw;
}

.caption {
  font-size: 1vw;
  padding-left: 20%;
}

.questions {
  font-size: 1.5vw;
  padding-left: 53%;
  padding-bottom: 1.5%;
  padding-top: 5%;
}

.track {
  background: linear-gradient(
    270deg,
    rgba(12, 139, 210, 0.78) 0%,
    rgba(186, 0, 0, 0.83) 100%
  );
  display: block;
  margin-left: 51.5%;
  width: 35%;
  height: 4vh;
  border: 2px solid black;
}

.thumb {
  background: #48b53e;
  border-radius: 50%;
  border: 1px solid black;
}

.options {
  text-align: center;
  margin-left: 48.5%;
  width: 40%;
}

.options li {
  list-style-type: none;
  display: inline-block;
  width: 16.3%;
  font-size: 0.8vw;
  padding-left: 0.1vh;
}

.imageBox {
  float: left;
  margin-left: 7%;
  margin-right: 3%;
}

.imageBorder {
  border: 2px solid black;
  width:70vh;
}

.btn {
  display: block;
  width: 5%;
  padding: 0.8vh 0;
  position: absolute;
  right: 7.5%;
  bottom: 6.5%;
  background: linear-gradient(
    180deg,
    #6fa0e9 0%,
    rgba(78, 122, 187, 0.43) 123.65%
  );
  color: black;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
}

.alignButtons {
  text-align: center;
  margin-left: 53%;
  width: 32%;
}

.buttonContainer {
  list-style-type: none;
  display: inline-block;
  width: 20%;
}

.buttons {
  width: 3vh;
  height: 3vh;
  background: white;
  border-radius: 50%;
  border: 1px solid black;
}

.buttons:focus {
  background-color: gray;
  border: 1px solid white;
}