.header {
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 2vw;
}

.caption {
  font-size: 1vw;
  padding-left: 20%;
}

.questions {
  font-size: 1.5vw;
  padding-left: 53%;
  padding-top: 5%;
  padding-bottom: 3%;
}


.sliderContainer {
  border: 2px solid black;
}

.track {
  background: linear-gradient(
    270deg,
    rgba(12, 139, 210, 0.78) 0%,
    rgba(186, 0, 0, 0.83) 100%
  );
  display: block;
  margin-left: 53%;
  width: 40%;
  height: 4vh;
  border: 2px solid black;
}

.thumb {
  border: 1px solid black;
}

.options {
  text-align: center;
  margin-left: 50%;
  width: 45%;
}

.options li {
  list-style-type: none;
  display: inline-block;
  width: 16.3%;
  font-size: 0.8vw;
}

.options2 {
  text-align: center;
  margin-left: 47.4%;
  width:49.5%;
}

.options2 li {
  list-style-type: none;
  display: inline-block;
  width: 17%;
  font-size: 0.8vw;
  
}


.imageBox {
  float: left;
  margin-left: 7%;
  margin-right: 3%;
}

.imageBorder {
  border: 2px solid black;
  width:35vw;
  height:35wv;
}


.nextbutton_container {
  width: 100%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
  
}


.btn {
  display: block;
  position: absolute;
  right: 6.5%;
  bottom: 5.5%;
  background: linear-gradient(
    180deg,
    #6fa0e9 0%,
    rgba(78, 122, 187, 0.43) 123.65%
  );
  color: black;
  font-size: 2vh;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
}

.donebtn {
  display: block;
  padding: 0 10vh;

  position: absolute;
  right: 37%;
  bottom: 50%;
 
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
}

.donebutton_container {
  width: 100%;
  text-align: center;

}

.alignButtons {
  text-align: center;
  margin-left: 53%;
  width: 40%;
}

.buttonContainer {
  list-style-type: none;
  display: inline-block;
  width: 20%;
}

.buttons {
  width: 3vh;
  height: 3vh;
  background: white;
  border-radius: 50%;
  border: 1px solid black;
}

.buttons:focus {
  background-color: gray;
  border: 1px solid white;
}

.buttons:hover {
  background-color: gray;
}