.header {
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.caption {
  font-size: 15px;
  padding-left: 37px;
}

.questions {
  font-size: 22px;
  padding-left: 730px;
  padding-bottom: 40px;
  padding-top: 30px;
}

.track {
  background: linear-gradient(270deg, rgba(12, 139, 210, 0.78) 0%, rgba(186, 0, 0, 0.83) 100%);
  display: block;
  margin-left: 600px;
  width: 45%;
  height: 30px;
}

.thumb {
  background: #48B53E;;
  border-radius: 50%;
  border:1px solid black;
}

.options {
  text-align: center;
  margin-left: 500px;
  margin-right: 183px;
}

.options li{
  list-style-type: none;
  display: inline-block;
  width: 16%;
  font-size: 13px;
}

.image {
  float: left;
  padding: 0 20px 20px 0;
  margin-left: 100px;
}

.border {
  border: 2px solid black;
}

.btn {
  display: block;
  width: 80px;
  padding: 8px 0;
  margin: 20px auto;
  position: absolute;
  right: 170px;
  bottom: 70px;
  background: linear-gradient(180deg, #6FA0E9 0%, rgba(78, 122, 187, 0.43) 123.65%);
  color: black;
  text-align: center;
  border-radius: 10px;
  border:1px solid black;
  margin-bottom: 10px;
}

.buttonsContainer {
  text-align: center;
  margin-left: 530px;
  margin-right: 283px;
}

.buttons{
  list-style-type: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 105px;
  background: white;
  border-radius: 20px;
  border:1px solid black;
}

.buttons:focus {
  background-color: gray;
  border: 1px solid white;
}