.title {
  font-size: 30px;
  margin: 30px 0 20px 0;
  text-align: center;
}
.header {
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 2vw;
}
.sub-title {
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  text-align: left;
}

.container {
  margin-top: 20px;
  width: 80%;
  margin-left: 13%;
}

.text {
  font-size: 20px;
  /* margin-left: 5%;
      margin-right: 5%; */
  margin-bottom: 20px;
  text-align: left;
}

.column-container {
  display: flex;
  margin-top: 30px;
}

.left-column {
  width: 30%;
  margin-left: 5%;
  border: 3 px solid salmon;
}

.right-column {
  width: 30%;
  margin-left: 5%;
  border: 3 px solid green;
}

.image-inner {
  width: 100%;
  height: 100%;
}

/* .imageBox {
  padding-left: 21%;
} */

.caption {
  font-size: 1vw;
  padding-left: 21%;
}

.captionImg {
  font-size: 1vw;
  font-weight: bold;
  padding-left: 30%;
}

.descript {
  font-size: 1vw;
  margin-left: 3%;
}

.imageBox {
  float: left;
  margin-left: 30%;
  margin-right: 3%;
  padding-bottom: 3%;
  padding-top: 3;
}

.imageBorder {
  border: 2px solid black;
  width:30vw;
  height:30wv;
}

.buttonContainer {
  padding-bottom:4%;
  padding-left: 45.5%;
}

.contButtonContainer {
  padding-bottom:4%;
  padding-left: 80%;
}



.instructionImageBox {
  width: 65%;
  margin-left: 18%;
  margin-bottom: 3%;
}

.centerButton {
  margin-left: 45%;
}

.expButton {
  padding-bottom:4%;
  margin-left: 90%;
}